<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <h1>Products page</h1>
    <div class="product-container">
      <% data.forEach(data => { %>
      <div class="product">
        <a href="./products/<%= data.id %>">
          <h2><%= data.name %></h2>
          <div class="product-photo">
            <img src="<%= data.photo %>" alt="" />
          </div>
          <h4><%= data.price %> <%= data.currency %></h4>
        </a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
